// @keyframes centerToLeft {
// 	0% {
// 		width: 50% ;
// 	}
// 	100% {
// 		width: 72% ;
// 	}
// }
// @keyframes leftToCenter {
// 	0% {
// 		width: 72%;
// 	}
// 	100% {
// 		width: 50%;
// 	}
// }
// @keyframes rightToCenter {
// 	0% {
// 		width: 28%;
// 	}
// 	100% {
// 		width: 50%;
// 	}
// }
// @keyframes centerToRight {
// 	0% {
// 		width: 50%;
// 	}
// 	100% {
// 		width: 28%;
// 	}
// }
@keyframes displayBlock {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
// @keyframes hideBlock {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(90);
	}
}

@keyframes expandWhite {
	0% {
	}
	100% {
		height: 400px;
	}
}

@keyframes expandPurple {
	0% {
		height: 400px;
	}
	100% {
		height: 590px;
	}
}
@keyframes expandPurple620 {
	0% {
		height: 400px;
	}
	100% {
		height: 620px;
	}
}
.rotater {
	animation: rotate 1.2s;
	animation-fill-mode: forwards;
}

.expandWhite {
	animation: expandWhite 1.2s;
	animation-fill-mode: forwards;
}
.expandWhiteText {
	animation: expandWhite 2.4s;
	animation-fill-mode: forwards;
	animation-delay: .3s;
}
.expandPurple {
	animation: expandPurple 1.2s;
	animation-fill-mode: forwards;
	@include mQ(465px) {
		animation: expandPurple620 1.2s;
		animation-fill-mode: forwards;
	}
	@include mQ(450px) {
		animation: expandPurple 1.2s;
		animation-fill-mode: forwards;
	}
}
.displayBlock {
	animation: displayBlock 1.2s;
	animation-fill-mode: forwards;
}
.hideBlock {
	animation: hideBlock 1.2s;
	animation-fill-mode: forwards;
}
.centerToLeft {
	animation: centerToLeft 1.2s;
	animation-fill-mode: forwards;
}
.leftToCenter {
	animation: leftToCenter 1.2s;
	animation-fill-mode: forwards;
}

.rightToCenter {
	animation: rightToCenter 1.2s;
	animation-fill-mode: forwards;
}
.centerToRight {
	animation: centerToRight 1.2s;
	animation-fill-mode: forwards;
}

@keyframes disappear {
	0% {
		width: 50%;
	}
	100% {
		width: 0;
	}
}
@keyframes disappearReverse {
	0% {
		width: 0%;
	}
	100% {
		width: 50;
	}
}
@keyframes appear {
	0% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}
@keyframes appearReverse {
	0% {
		width: 100%;
	}
	100% {
		width: 50%;
	}
}

.disappear {
	animation: disappear 1.2s both;
}
.appear {
	animation: appear 1.2s both;
}

.appearReverse {
	animation: appearReverse 1.2s forwards;
}
.disappearReverse {
	animation: disappearReverse 1.2s both;
}
