@font-face {
	font-family: "Circe-bold";
	src: url("/fonts/CIRCE.OTF") format("woff2");
}
@font-face {
	font-family: "Circe";
	src: url("/fonts/CRC35.OTF") format("woff2");
}
@font-face {
	font-family: "Trajan Pro 3";
	src: url("/fonts/TrajanPro3-Regular.otf") format("woff2");
}
@font-face {
	font-family: "Trajan Pro 3-bold";
	src: url("/fonts/TrajanPro3-Bold.otf") format("woff2");
}

@font-face {
	font-family: "Kontanter";
	src: url("/fonts/Kontanter-Bold.otf") format("woff2");
}
