* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	max-width: 100%;
	overflow: hidden;
	@include mQHeight(969px) {
		overflow-y: visible;
		overflow-x: hidden;
	}
	@include mQ(1160px) {
		overflow-y: visible;
		overflow: visible;
		overflow-x: hidden;
	}
}
.wrapper {
	display: flex;
	position: absolute;
	width: 1920px;
	height: 969px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	@include mQ(1480px) {
		width: 1480px;
	}
	@include mQ(1366px) {
		height: 100%;
	}
	@include mQ(1365px) {
		height: 969px;
	}
	@include mQ(1160px) {
		width: 100%;
		height: auto;
		overflow-x: hidden;
	}
}

.color-change-purple {
	height: 100%;
	background: linear-gradient(180deg, #371f4a 0%, #5b2866 100%);
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	z-index: -1;
	@include mQ(1160px) {
		display: none;
	}
}
.color-change-white {
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	z-index: -2;
	@include mQ(1160px) {
		display: none;
	}
}

.mobile-container {
	@include mQ(1160px) {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.mobile-calendar {
		display: none;
		@include mQ(1160px) {
			display: flex;
		}
	}
}

.order-box {
	display: none;
	@include mQ(1160px) {
		display: flex;
		width: 100%;
		height: 37rem;
		max-width: 100%;
		justify-content: space-between;
		padding-top: 4rem;
	}
	@include mQ(720px) {
		flex-direction: column;
		align-items: center;
	}
	.order {
		display: block;
		position: relative;
		z-index: 1;
		margin-bottom: 1rem;
		cursor: pointer;
		&__triangle {
			position: absolute;
			top: 120px;
			right: 31px;
			z-index: 2;
			width: 0;
			height: 0;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 49px solid #fff;
			@include mQ(950px) {
				right: 22px;
			}
			@include mQ(860px) {
				top: 93px;
			}
			@include mQ(720px) {
				right: -33px;
				top: 135px;
			}
			@include mQ(480px) {
				visibility: hidden;
			}
			&::after {
				content: '';
				position: absolute;
				z-index: 1;
				right: 12px;
				top: -25px;
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 38px solid #5b2866;
			}
		}
		&__text {
			text-align: center;
			&__bold {
				font-family: 'Circe-bold';
				padding-top: 7rem;
				font-size: 9rem;
				
				@include mQ(860px) {
					padding-top: 7rem;
					font-size: 7rem;
				}
				@include mQ(720px) {
					padding-top: 8rem;
					font-size: 8.9rem;				
				}
				@include mQ(480px) {
					padding-top: 3rem;
					font-size: 7.8rem;

				}
			}
			font-family: 'Circe';
			line-height: .7;
			font-size: 8rem;
			color: #fff;
			height: 28rem;
			width: 42rem;
			background: #5b2866;
			margin-right: 6rem;
			@include mQ(950px) {
				width: 37rem;
			}
			@include mQ(860px) {
				height: 23rem;
				width: 30rem;
				font-size: 6rem;
			}
			@include mQ(720px) {
				font-size: 8rem;
				height: 28rem;
				width: 42rem;
				margin-right: 0;
			}
			@include mQ(480px) {
				font-size: 7rem;
				height: 17rem;
				width: 32rem;
			}
		}
	}
}
