* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	max-width: 100%;
	overflow: hidden;
	@include mQ(1480px){
		
	}
}
.wrapper {
	display: flex;
	position: absolute;
	width: 1920px;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	@include mQ(1480px) {
		width: 1480px;
	}
	@include mQ(1060px) {
		width: 100%;
		height: auto;
	}
}

.color-change-purple {
	height: 100%;
	background: linear-gradient(180deg, #371f4a 0%, #5b2866 100%);
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	z-index: -1;
	@include mQ(1060px) {
		display: none;
	}
}
.color-change-white {
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	z-index: -2;
	@include mQ(1060px) {
		display: none;
	}
}

.mobile-calendar {
	display: none;
}

.mobile-container {
	@include mQ(1060px) {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}

.order-box {
	@include mQL(1060px) {
		display: flex;
		width: 100%;
		height: 100%;
		max-width: 100%;
	}
	.order {
		display: block;
	}
}
