.purple-box {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	color: #fff;
	display: flex;
	justify-content: center;
	height: 100%;
	@include mQ(1060px) {
		position: relative;
		overflow: visible;
		width: 100%;
		background: linear-gradient(180deg, #371f4a 0%, #5b2866 100%);
		height: 40rem;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 584px;
		position: absolute;
		right: 200px;
		font-family: 'Circe', 'sans-serif';
		a {
			text-decoration: none;
			font-family: 'Circe-bold';
			font-size: 2.2rem; 
			line-height: 28px;
			letter-spacing: -0.01em;
			color: #FFFFFF;

		}
		@include mQ(1480px) {
			right: -2.6rem;
		}
		@include mQ(1060px) {
			overflow-y: visible;
			position: relative;
			right: 0;
			overflow: hidden;
			width: 100%;
		}

		.pink-angle-box {
			display: none;
			// @include mQ(1250px) {
			// 	display: block;
			// 	position: relative;
			// }
		}
		.pink-angle {
			// @include mQ(1250px) {
			// 	position: absolute;
			// 	top: -122px;
			// 	right: -150px;
			// }
		}
		.pink-angle-opposite {
			// @include mQ(1250px) {
			// 	position: absolute;
			// 	top: -122px;
			// 	right: -270px;
			// 	transform: scale(-1, 1);
			// }
		}
		&__about {
			display: flex;
			position: relative;
			font-size: 2rem;
			line-height: 2.8rem;
			letter-spacing: -0.01em;
			align-self: flex-start;
			margin-left: 4rem;
			margin-top: 6rem;
			z-index: 2;
			letter-spacing: 1px;
			@include mQ(1060px) {
				display: none;
			}
			.smallPurpleTriangle {
				align-self: flex-start;
			}
			&__list {
				display: flex;
				list-style: none;
				&__item{
					margin-left:1.5rem;
					text-shadow: 1px 1px 0px #00AFC6;
					
				}
					
				&__link{
					max-width: 100%;
					&::before{
						content:'';
						position: absolute;
						height:9px;
						background: #FBE751;
						width:100%;
						top: 17px;
						z-index:-1;
						opacity:0;
						transition: .2s opacity;
						
					}
				&:hover::before{
					opacity:1;
					transition: .2s opacity;
				}
					
				
				}
			}
		}
		&__box2 {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			margin-top: 8.5rem;
			position: relative;
			@include mQ(1060px) {
				display: none;
			}
		}

		&__social-media {
			display: flex;
			margin-right: 21rem;
			position: relative;
    		z-index: 3;
			@include mQ(1480px) {
				margin-right: 25rem;
			}

			&__icon {
				list-style: none;
				svg {
					cursor: pointer;
					
					&:hover path {
						fill: #fbe751;
					}
					
				}
			}
		}
		&__title {
			margin-top: 1rem;
			align-self: flex-start;
			position: relative;
			z-index: 1;
			font-family: 'Kontanter', 'sans-serif';
			text-shadow: 1px 1px 0px #00afc6;
			font-size: 4rem;
			line-height: 4.7rem;
			@include mQ(1480px) {
				font-size: 3.8rem;
			}
			@include mQ(1250px) {
				font-size: 3rem;
				width: 46rem;
			}
		}
		&__text {
			font-family: 'Circe', 'sans-serif';
			font-size: 1.9rem;
			line-height: 2.7rem;
			letter-spacing: -0.01em;
			position: relative;
			z-index: 1;
			margin-top: 2rem;
			width: 48rem;
			align-self: flex-start;
			@include mQ(1480px) {
				width: 42rem;
			}
			@include mQ(1250px) {
				width: 33rem;
				font-size: 1.5rem;
				line-height: 2.5rem;
			}
			@include mQ(1060px) {
				width: 30rem;
			}
			p {
				position: relative;
				z-index: 3;
			}
			.purpleRectangle {
				position: absolute;
				width: 40.36px;
				height: 242.99px;
				left: 17%;
				top: 55%;
				transform: translate(-55%, -57%);
				z-index: 0;
				@include mQ(1480px) {
					height: 288.99px;
					top: 57%;
				}
				@include mQ(1250px) {
					height: 264.99px;
					top: 57%;
					left: 23%;
				}
				@include mQ(1060px) {
					visibility: hidden;
				}
			}
		}

		&__vedushy {
			align-self: flex-end;
			margin-right: 11rem;
			margin-top: 16rem;
			font-family: 'Kontanter', 'sans-serif';
			font-size: 25px;
			line-height: 30px;
			color: #ffffff;
			text-shadow: 1px 1px 0px #00afc6;
			position: relative;
			@include mQ(1480px) {
				margin-top: 6rem;
				margin-right: 40%;
				transform: translateX(-50%);
			}
			@include mQ(1250px) {
				margin-top: 8.7rem;
				margin-right: 50%;
				font-size: 21px;
			}

			&__blue-box {
				content: '';
				position: absolute;
				display: block;
				width: 152.6px;
				height: 15.15px;
				top: 1.9rem;
				left: -6px;
				background: #2a6a93;
				z-index: -1;
				opacity: 0;
			}
		}
		&__casual {
			display: none;
			@include mQ(1060px) {
				display: block;
				position: absolute;
				top: 15%;
				right: -56px;
				height: 311%;
			}
		}
	}
}
