html {
	font-size: 62.5%;
}
.blue-name {
	position: absolute;
	top: 0;
	left: 100px;
}
.purpleDots {
	position: absolute;
	top: 73rem;
	left: 50%;
	z-index: -2;
	transform: translateX(-50%);
	@include mQ(1480px) {
		display: none;
	}
}

.smallPinkDiamond {
	position: absolute;
	top: 5rem;
	right: 10.5rem;
	@include mQ(1480px) {
		right: 22.5rem;
	}
}
.purpleDownTriangle {
	position: absolute;
	top: 3rem;
	right: 4rem;
	@include mQ(1480px) {
		right: 16rem;
	}
}
.yellowLeftTriangle {
	position: absolute;
	top: 20rem;
	right: 12rem;
	@include mQ(1480px) {
		right: 15rem;
	}
	// @include mQ(1250px) {
	// 	display: none;
	// }
}
.blueDotPurple {
	position: absolute;
	top: 10rem;
	right: 27rem;
}
.smallPurpleTriangle {
	position: absolute;
	top: 7px;
	left: -4rem;
}

.yellowArrowLeft,
.yellowArrowRight {
	position: absolute;
	top: 92rem;
	z-index: 2;
	cursor: pointer;
	@include mQ(1160px) {
		visibility: hidden;
	}
}
.yellowArrowLeft {
	left: 48.6%;
	transform: translateX(-50%);
}
.yellowArrowRight {
	left: 51.1%;
	transform: rotateY(180deg);
}
.pinkRibbon-mobile {
	z-index: 1;
	display: none;
	@include mQ(1160px) {
		display: block;
		position: absolute;
		top: 35px;
		left: -20px;
		height: 17rem;
	}
	@include mQ(940px) {
		height: 9rem;
	}
	@include mQ(490px) {
		top: 35px;
	}
	@include mQ(370px) {
		top: 33px;
		height: 7rem;
	}
}
.purpleBubble {
	position: absolute;
	top: 0;
	right: 0;
	@include mQ(1160px) {
		display: none;
	}
}

.pinkBall {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background: #e9487e;
	opacity: 0;
}

.spiral {
	position: absolute;
	width: 416.2px;
	height: 416.2px;
	left: 49%;
	top: 41.71px;
	z-index: -1;
	transform: translateX(-39%);
	@include mQ(1160px) {
		width: 321.2px;
		height: 306.2px;
		left: -7%;
		top: 106px;
	}
	@include mQ(860px) {
		width: 231.2px;
		height: 236.2px;
		left: -5%;
		top: 106px;
	}
	@include mQ(530px) {
		width: 168px;
		height: 156px;
	}
	@include mQ(370px) {
		width: 146px;
		height: 137px;
		left: -9%;
		top: 75px;
	}
}
.purpleDiamond {
	position: absolute;
	left: 15.18%;
	right: 83.83%;
	top: 31.12%;
	bottom: 67.13%;
	@include mQ(1480px) {
		left: 10%;
	}
	@include mQ(1160px) {
		// left: 40%;
		// top: 21%;
		visibility: hidden;
	}
	// @include mQ(960px) {
	// 	visibility: hidden;
	// }
}
.small-pink-square {
	@include mQ(1160px) {
		height: 8px;
		width: 8px;
		position: absolute;
		top: 58px;
		left: 44%;
		z-index: 1;
		background: #e9487e;
		transform: rotate(45deg);
	}
	@include mQ(850px) {
		top: 50px;
	}
	@include mQ(490px) {
		top: 36px;
	}
}
.small-pink-circle {
	@include mQ(720px) {
		height: 8px;
		width: 8px;
		position: absolute;
		top: 10%;
		left: 62%;
		background: #e9487e;
		border-radius: 50%;
	}
	@include mQ(650px) {
	}
}
.blueDot {
	position: absolute;
	left: 23.48%;
	right: 75.78%;
	top: 29.99%;
	bottom: 68.69%;

	@include mQ(1480px) {
		top: 24%;
	}
	@include mQ(1160px) {
		top: 10%;
		left: 61%;
	}
	@include mQ(720px) {
		visibility: hidden;
	}
}
.purpleRibbon {
	margin-left: 3rem;
	margin-top: 4rem;
}
.yellow-box {
	position: absolute;
	width: 527.69px;
	height: 565px;
	top: 540px;
	left: 50%;
	transform: translate(-50%, -47%);
	border: 16px solid #fbe751;
	box-sizing: border-box;
	z-index: 0;
	@include mQ(1250px) {
		height: 529px;
		top: 515px;
	}
	@include mQ(1160px) {
		visibility: hidden;
	}
}
.small-purple-bubble {
	position: absolute;
	top: 80%;
	right: 31.5%;
	@include mQ(1480px) {
		right: 11.5%;
	}
	@include mQ(1160px) {
		top: 180px;
		right: -90px;
	}
	@include mQ(800px){
		visibility: hidden;
	}
	@include mQ (650px) {
		visibility: visible;
		top: 10px;
		right: -100px;
	}
	@include mQ(570px) {
		visibility: hidden;
	}
	// @include mQ(450px){
	// 	right: -83px;
	// 	height: 14.5rem;
	// }
}
.half-blue-circle {
	position: absolute;
	top: 81.5%;
	right: 29.5%;
	@include mQ(1480px) {
		right: 9.5%;
	}
	@include mQ(1160px) {
		top: 290px;
		right: 51px;
		transform: scale(-1, -1);
	}
	@include mQ(800px){
		visibility: hidden;
	}
	@include mQ(650px) {
		visibility: visible;
		top: 115px;
	}
	@include mQ(570px) {
		visibility: hidden;
	}
	// @include mQ(450px){
	// 	top: 104px;
	// 	height: 5rem;
	// 	right: 44px;
	// }
}
.small-blue-square {
	position: absolute;
	top: 95%;
	right: 31.2%;
	@include mQ(1480px) {
		right: 11.2%;
	}
	@include mQ(1160px) {
		top: 183px;
		right: 50px;
	}
	@include mQ(800px){
		visibility: hidden;
	}
	@include mQ(650px) {
		visibility: visible;
		top: 15px;
		right: 46px;
	}
	@include mQ(570px) {
		visibility: hidden;
	}
	// @include mQ(450px){
	// 	height:3%;
	// }
}
.yellowTriangle {
	position: absolute;
	left: -10px;
	right: 78.61%;
	top: 37.5%;
	bottom: 24.37%;
	@include mQ(1480px) {
		display: none;
	}
}
