.white-box {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
	color: #fff;
	left: 0;

	@include mQ(1160px) {
		display: block;
		position: relative;
		width: 100%;
		height: 45rem;
	}
	@include mQ(730px) {
		height: 36rem;
	}
	@include mQ(550px) {
		height: 27rem;
	}
	@include mQ(450px) {
		height: 23rem;
	}
	@include mQ(360px) {
		height: 21rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: 280px;
		@include mQ(1480px) {
			left: 0;
			position: absolute;
			margin: 0 auto;
			width: 690px;
		}
		@include mQ(1250px) {
			width: 625px;
		}
		@include mQ(1160px) {
			left: 0;
			position: relative;
			margin: 0 auto;
			width: 89vw;
			height: 100%;
		}

		&__about {
			display: flex;
			position: relative;
			font-size: 2rem;
			line-height: 2.8rem;
			letter-spacing: -0.01em;
			align-self: flex-start;

			margin-top: 2vw;
			z-index: 2;
			letter-spacing: 1px;
			display: none;
			font-family: 'Circe-bold';
			@include mQ(1160px) {
				display: flex;
				flex-direction: column;
				align-self: flex-end;
				ul {
					display: flex;
					justify-content: space-between;

					li {
						list-style: none;
						@include mQ(530px) {
							svg {
								width: 35px !important;
							}
							img {
								width: 22px !important;
								height: 22px !important;
							}
						}
					}
				}
				&__number {
					display: none;
					@include mQ(1160px) {
						&__link {
							color: #00afc6;
							text-decoration: none;
						}
						display: block;
					}
					@include mQ(530px) {
						margin-top: -1rem;
						font-size: 18px;
					}
					@include mQ(490px) {
						margin-top: -2rem;
						font-size: 13.8px;
					}
				}
			}
		}

		&__name {
			align-self: flex-start;
			margin-top: 4rem;
			margin-bottom: 9rem;
			@include mQ(1480px) {
				margin-left: 16rem;
			}
			@include mQ(1250px) {
				width: 300px;
				margin-bottom: 14rem;

				margin-left: 26rem;
			}
			@include mQ(1160px) {
				position: absolute;
				top: 2vw;
				left: 30px;
				margin: 0;
				width: 30vw;
			}
			@include mQ(400px) {
				top: 3vw;
				left: 12px;
				margin: 0;
				width: 33vw;
			}
		}
		&__whiteBox {
			position: absolute;
			width: 43.92px;
			height: 140px;
			left: 80%;
			top: 311px;
			background: #ffffff;
			z-index: 0;
			transform: translateX(-46%);
			@include mQ(1480px) {
				height: 220px;
				width: 63px;
				left: 70%;
			}
			@include mQ(1250px) {
				left: 75%;
			}
			@include mQ(1160px) {
				visibility: hidden;
			}
		}
		&__title {
			align-self: flex-end;
			position: relative;
			z-index: 1;
			margin-right: 8rem;
			margin-bottom: 1rem;
			font-family: 'Trajan Pro 3-bold', 'sans-serif';
			font-weight: bold;
			font-size: 39px;
			line-height: 47px;
			text-align: right;
			color: #e9487e;
			text-shadow: 1px 1px 0px #00afc6;
			width: 26rem;
			@include mQ(1480px) {
				margin-right: 16rem;
			}
			@include mQ(1250px) {
				margin-right: 10rem;
				font-size: 35px;
			}
			@include mQ(1160px) {
				order: 2;
				align-self: flex-start;
				text-align: initial;
				font-size: 3.5vw;
				margin-top: 1rem;
				margin-left: 39vw;
				width: 50rem;
			}
			@include mQ(730px) {
				margin-top: -1rem;
			}
			@include mQ(550px) {
				margin-top: -2rem;
			}
		}
		&__text {
			font-family: 'Circe', 'sans-serif';
			position: relative;

			height: 22rem;
			width: 53rem;
			z-index: 1;
			font-size: 2rem;
			line-height: 2.8rem;
			letter-spacing: -0.01em;
			color: #542660;
			span {
				font-weight: bold;
			}
			@include mQ(1480px) {
				margin-left: 8rem;
			}
			@include mQ(1250px) {
				font-size: 15px;
				line-height: 2.3rem;
				width: 35rem;
				margin-left: 13rem;
			}
			@include mQ(1160px) {
				visibility: hidden;
			}
		}
		#root {
			@include mQ(1480px) {
				margin-left: 12rem;
			}
			@include mQ(1160px) {
				display: none;
			}
		}
		&__order-call {
			width: 221px;
			height: 40px;
			background: #00afc6;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: flex-start;
			margin-top: 21rem;
			cursor: pointer;
			z-index: 2;
			position: relative;
			@include mQ(1480px) {
				margin-left: 12rem;
			}
			@include mQ(1250px) {
				margin-left: 20rem;
				margin-top: 15.4rem;
			}
			@include mQ(1160px) {
				visibility: hidden;
			}

			&__triangle {
				position: absolute;
				right: -12px;
			}
			&__text {
				color: white;
				font-family: 'Circe-bold';
				font-weight: bold;
				font-size: 20px;
				letter-spacing: -0.01em;
				text-transform: uppercase;
			}
			&__form {
				position: absolute;
				right: -211px;
				top: 0;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
				@include mQ(1250px) {
					right: 26px;
					top: 50px;
				}
			}
			&__input {
				padding: 1.2rem;
				border: 1px solid #00afc6;
				&::placeholder {
					font-family: 'Circe';
					font-size: 17px;
					letter-spacing: -0.01em;
					color: #c4c4c4;
					border-bottom: 1.4px solid #c4c4c4;
				}
			}
			&__group {
				margin-top: 1rem;
				display: flex;
				&__input {
					padding: 1.2rem;
					border: 1px solid #00afc6;
					width: 140px;
					margin-right: 1rem;
					&::placeholder {
						font-family: 'Circe';
						font-size: 17px;
						letter-spacing: -0.01em;
						color: #c4c4c4;
						border-bottom: 1.4px solid #c4c4c4;
					}
				}
				&__btn {
					flex-grow: 1;
					background: #00afc6;
					border: none;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
		&__conferanceyo {
			visibility: hidden;
			align-self: flex-start;
			margin-top: 8.7em;
			font-family: 'Trajan Pro 3-bold';
			font-size: 25px;
			line-height: 30px;
			color: #e9487e;
			text-shadow: 1px 1px 0px #00afc6;
			position: relative;

			@include mQ(1480px) {
				margin-left: 50%;
				transform: translateX(-50%);
			}
			@include mQ(1250px) {
				font-size: 21px;
				margin-left: 70%;
			}
			@include mQ(1160px) {
				visibility: visible;
				order: 1;
				margin-left: 34vw;
				margin-top: -30rem;
				font-size: 6vw;
				transform: translate(0);
				margin-bottom: 1rem;
				&::after {
					content: '';
					height: 5px;
					width: 82%;
					position: absolute;
					top: 46px;
					left: 12vw;
					background: #80d7e3;
				}
			}
			@include mQ(730px) {
				margin-top: -33rem;
				&::after {
					top: 34px;
					left: 10vw;
				}
			}
			@include mQ(550px) {
				margin-top: -38rem;
				&::after {
					content: '';
					height: 3px;
					top: 28px;
				}
			}
		}
		&__complex {
			display: none;
			@include mQ(1160px) {
				display: block;
				&::after {
					content: '';
					position: absolute;
					top: 26rem;
					left: 10.6%;
					z-index: -1;
					width: 18vw;
					height: 90px;
					border: 9px solid #fbe751;
				}
			}
			@include mQ(850px) {
				&::after {
					top: 21rem;
				}
			}
			@include mQ(650px) {
				&::after {
					top: 18rem;
					border: 6px solid #fbe751;
				}
			}
			@include mQ(550px) {
				&::after {
					top: 14rem;
					width: 21vw;
					border: 4px solid #fbe751;
				}
			}
			@include mQ(400px) {
				&::after {
					top: 12rem;
				}
			}

			// @include mQ(500px) {
			// 	&::after {
			// 		top: 19vh;
			// 		height: 50px;
			// 		border: 4px solid #fbe751;
			// 	}
			// }
		}
		&__suit {
			display: none;
			@include mQ(1160px) {
				display: block;
				top: 12rem;
				left: -3vw;
				position: absolute;
				height: 100vw;
			}
			@include mQ(550px) {
				top: 7rem;
				height: 125vw;
				left: -7vw;
			}
		}

		// Mobile

		&__mobile-yellow-triangle {
			visibility: hidden;
			@include mQ(1160px) {
				visibility: visible;
				transform: rotate(-90deg);
				position: absolute;
				top: 70%;
				left: 63%;
				height: 4vw;
			}
			@include mQ(360px) {
				top: 75%;
			}
		}
		&__mobile-pink-circle {
			visibility: hidden;
			@include mQ(1160px) {
				visibility: visible;
				position: absolute;
				top: 40%;
				left: 10%;
				border-radius: 50%;
				height: 1vw;
				width: 1vw;
				background: #e9487e;
			}
		}
		&__mobile-pink-square {
			visibility: hidden;
			@include mQ(1160px) {
				visibility: visible;
				transform: rotate(45deg);
				position: absolute;
				bottom: 10%;
				left: 50%;
				height: 1vw;
				width: 1vw;
				background: #e9487e;
			}
		}
	}
}
