.white-box {
	display: flex;
	justify-content: center;
	position: relative;
	width: 50%;
	overflow: hidden;
	color: #fff;
	display: flex;
	justify-content: center;

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 13rem;
		position: absolute;
		left: 153px;
		@include mQ(1480px) {
			margin-left: -9rem;
		}

		&__name {
			align-self: flex-start;
			margin-top: 4rem;
			margin-bottom: 10rem;
			@include mQ(1480px) {
				margin-left: 6rem;
			}
		}
		&__whiteBox {
			position: absolute;
			width: 43.92px;
			height: 50px;
			left: 80%;
			top: 440px;
			background: #ffffff;
			z-index: 1;
			transform: translateX(-46%);
			@include mQ(1480px) {
				height: 125px;
				width: 190px;
			}
		}
		&__title {
			align-self: flex-end;
			position: relative;
			z-index: 1;
			margin-right: 8rem;
			margin-bottom: 3rem;
			font-family: 'Trajan Pro 3-bold', 'sans-serif';
			font-weight: bold;
			font-size: 39px;
			line-height: 47px;
			text-align: right;
			color: #e9487e;
			text-shadow: 1px 1px 0px #00afc6;
			@include mQ(1480px) {
				margin-right: 16rem;
			}
		}
		&__text {
			font-family: 'Circe', 'sans-serif';
			position: relative;
			z-index: 2;
			height: 22rem;
			width: 53rem;
			z-index: 1;
			font-size: 2rem;
			line-height: 2.8rem;
			letter-spacing: -0.01em;
			@include mQ(1480px) {
				margin-left: 8rem;
			}
			span {
				font-weight: bold;
			}
			color: #542660;
		}
		#root {
			@include mQ(1480px) {
				margin-left: 8.5rem;
			}
		}

		&__conferanceyo {
			align-self: flex-start;
			margin-top: 8.7em;
			font-family: 'Trajan Pro 3-bold';
			font-size: 25px;
			line-height: 30px;
			color: #e9487e;
			text-shadow: 1px 1px 0px #00afc6;
			position: relative;
			@include mQ(1480px) {
				margin-left: 50%;
				transform: translateX(-50%);
			}
			&__blue-box {
				content: '';
				position: absolute;
				display: block;
				width: 222.6px;
				height: 15.15px;
				top: 1.7rem;
				left: -6px;
				background: #fbe751;
				z-index: -2;
				opacity: 0;
			}
		}
	}
}
