@charset "UTF-8";
.center-layout {
  width: 838px;
  height: 905px;
  position: absolute;
  left: 50%;
  top: 475px;
  transform: translate3d(-50%, -47%, 0);
  overflow: hidden;
  z-index: 2; }
  @media screen and (max-width: 1250px) {
    .center-layout {
      display: none; } }
  .center-layout__suit, .center-layout__casual {
    height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden; }
    .center-layout__suit img, .center-layout__casual img {
      height: 100%;
      position: absolute;
      z-index: 5; }
  .center-layout__suit {
    width: 50%;
    top: 0;
    left: 0; }
    .center-layout__suit img {
      left: 255px; }
  .center-layout__casual {
    width: 50%;
    top: 0;
    right: 0;
    z-index: 5; }
    .center-layout__casual img {
      right: 188px;
      top: 9px; }
    .center-layout__casual__white-konin {
      top: -37px !important;
      right: 649px !important;
      height: 24.3% !important;
      width: 190px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  max-width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 1250px) {
    html,
    body {
      overflow-y: scroll; } }

.wrapper {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (max-width: 1480px) {
    .wrapper {
      width: 1480px; } }
  @media screen and (max-width: 1250px) {
    .wrapper {
      flex-direction: column;
      width: 100%;
      height: 1500px; } }

.color-change-purple {
  height: 100%;
  background: linear-gradient(180deg, #371f4a 0%, #5b2866 100%);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1; }
  @media screen and (max-width: 1250px) {
    .color-change-purple {
      display: none; } }

.color-change-white {
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -2; }
  @media screen and (max-width: 1480px) {
    .color-change-white {
      display: none; } }

.mobile-calendar {
  display: none; }
  @media screen and (max-width: 1250px) {
    .mobile-calendar {
      display: block; } }

@media screen and (max-width: 1250px) {
  .order-box {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 25px;
    margin-bottom: 25px; } }

.order-box .order {
  display: none; }
  @media screen and (max-width: 1250px) {
    .order-box .order {
      background: #371f4a;
      color: white;
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8rem;
      font-family: 'Circe';
      line-height: 1;
      position: relative;
      cursor: pointer;
      z-index: 0; }
      .order-box .order__triangle {
        position: absolute;
        top: 125px;
        right: -50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 40px 80px;
        border-color: transparent transparent transparent #371f4a;
        line-height: 0px; }
        .order-box .order__triangle::after {
          content: '';
          position: absolute;
          top: -45px;
          right: -13px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 45px 0 45px 90px;
          border-color: transparent transparent transparent white;
          line-height: 0px;
          z-index: -1; }
      .order-box .order__text {
        text-transform: uppercase;
        line-height: 1;
        font-weight: 100; }
        .order-box .order__text__bold {
          font-family: 'Circe-bold';
          font-weight: bold; } }

html {
  font-size: 62.5%; }

.blue-name {
  position: absolute;
  top: 0;
  left: 100px; }

.purpleDots {
  position: absolute;
  top: 73rem;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (max-width: 1480px) {
    .purpleDots {
      display: none; } }

.smallPinkDiamond {
  position: absolute;
  top: 5rem;
  right: 10.5rem; }
  @media screen and (max-width: 1480px) {
    .smallPinkDiamond {
      right: 22.5rem; } }

.purpleDownTriangle {
  position: absolute;
  top: 3rem;
  right: 4rem; }
  @media screen and (max-width: 1480px) {
    .purpleDownTriangle {
      right: 16rem; } }

.yellowLeftTriangle {
  position: absolute;
  top: 20rem;
  right: 12rem; }
  @media screen and (max-width: 1480px) {
    .yellowLeftTriangle {
      right: 15rem; } }

.blueDotPurple {
  position: absolute;
  top: 10rem;
  right: 27rem; }

.smallPurpleTriangle {
  position: absolute;
  top: 7px;
  left: -4rem; }

.yellowArrowLeft,
.yellowArrowRight {
  position: absolute;
  top: 92rem;
  z-index: 2;
  cursor: pointer; }
  @media screen and (max-width: 1250px) {
    .yellowArrowLeft,
    .yellowArrowRight {
      display: none; } }

.yellowArrowLeft {
  left: 48.6%;
  transform: translateX(-50%); }

.yellowArrowRight {
  left: 51.1%;
  transform: rotateY(180deg); }

.pinkRibbon {
  z-index: 1; }
  @media screen and (max-width: 1250px) {
    .pinkRibbon {
      position: absolute;
      top: -225px;
      left: -120px; } }

.purpleBubble {
  position: absolute;
  top: 0;
  right: 0; }
  @media screen and (max-width: 1250px) {
    .purpleBubble {
      display: none; } }

.pinkBall {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #e9487e;
  opacity: 0; }

.spiral {
  position: absolute;
  width: 416.2px;
  height: 416.2px;
  left: 49%;
  top: 41.71px;
  z-index: -1;
  transform: translateX(-39%); }
  @media screen and (max-width: 1250px) {
    .spiral {
      left: -50px;
      top: 150px;
      width: auto;
      height: 300px; } }
  @media screen and (max-width: 750px) {
    .spiral {
      height: 190px; } }
  @media screen and (max-width: 550px) {
    .spiral {
      top: 90px; } }
  @media screen and (max-width: 350px) {
    .spiral {
      top: 57px;
      height: 170px; } }

.purpleDiamond {
  position: absolute;
  left: 15.18%;
  right: 83.83%;
  top: 31.12%;
  bottom: 67.13%; }
  @media screen and (max-width: 1480px) {
    .purpleDiamond {
      left: 10%; } }

.blueDot {
  position: absolute;
  left: 23.48%;
  right: 75.78%;
  top: 29.99%;
  bottom: 68.69%; }
  @media screen and (max-width: 1480px) {
    .blueDot {
      top: 24%; } }

.yellow-box {
  position: absolute;
  width: 527.69px;
  height: 565px;
  top: 540px;
  left: 50%;
  transform: translate(-50%, -47%);
  border: 16px solid #fbe751;
  box-sizing: border-box;
  z-index: 1; }
  @media screen and (max-width: 1250px) {
    .yellow-box {
      display: none; } }

.small-purple-bubble {
  position: absolute;
  top: 80%;
  right: 31.5%; }
  @media screen and (max-width: 1480px) {
    .small-purple-bubble {
      right: 11.5%; } }
  @media screen and (max-width: 1250px) {
    .small-purple-bubble {
      top: 160px;
      right: -90px; } }
  @media screen and (max-width: 890px) {
    .small-purple-bubble {
      height: 9%; } }
  @media screen and (max-width: 730px) {
    .small-purple-bubble {
      top: 90px; } }
  @media screen and (max-width: 480px) {
    .small-purple-bubble {
      height: 7.6%; } }

.half-blue-circle {
  position: absolute;
  top: 81.5%;
  right: 29.5%; }
  @media screen and (max-width: 1480px) {
    .half-blue-circle {
      right: 9.5%; } }
  @media screen and (max-width: 1250px) {
    .half-blue-circle {
      position: absolute;
      top: 11.5%;
      right: 5.5%;
      transform: scale(-1, 1); } }
  @media screen and (max-width: 1000px) {
    .half-blue-circle {
      right: 6.5%; } }
  @media screen and (max-width: 890px) {
    .half-blue-circle {
      top: 10.5%;
      right: 3%; } }
  @media screen and (max-width: 730px) {
    .half-blue-circle {
      top: 6%;
      right: 4%; } }
  @media screen and (max-width: 480px) {
    .half-blue-circle {
      top: 6.5%;
      right: 2.6%;
      height: 2.4%; } }

.small-blue-square {
  position: absolute;
  top: 95%;
  right: 31.2%; }
  @media screen and (max-width: 1480px) {
    .small-blue-square {
      right: 11.2%; } }
  @media screen and (max-width: 1250px) {
    .small-blue-square {
      top: 21%;
      right: 5.2%; } }
  @media screen and (max-width: 890px) {
    .small-blue-square {
      top: 19%;
      right: 2.2%; } }
  @media screen and (max-width: 730px) {
    .small-blue-square {
      top: 14%;
      right: 2.6%; } }
  @media screen and (max-width: 480px) {
    .small-blue-square {
      top: 12.5%;
      right: 1.8%;
      height: 1%; } }

.yellowTriangle {
  position: absolute;
  left: -10px;
  right: 78.61%;
  top: 37.5%;
  bottom: 24.37%; }
  @media screen and (max-width: 1480px) {
    .yellowTriangle {
      display: none; } }

.purple-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 1250px) {
    .purple-box {
      position: relative;
      width: 100%;
      height: 95rem;
      background: linear-gradient(180deg, #371f4a 0%, #5b2866 100%); } }
  .purple-box__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 584px;
    position: absolute;
    right: 200px;
    font-family: 'Circe', 'sans-serif';
    overflow-y: hidden; }
    @media screen and (max-width: 1480px) {
      .purple-box__info {
        right: -2.6rem; } }
    @media screen and (max-width: 1250px) {
      .purple-box__info {
        width: 100%;
        height: 100%;
        right: 0;
        overflow: hidden;
        padding-left: 50px;
        padding-top: 90px; }
        .purple-box__info::after {
          content: '';
          position: absolute;
          width: 32rem;
          height: 400px;
          background: transparent;
          top: 173px;
          right: 206px;
          z-index: 0;
          border: 16px solid #fbe751; } }
    .purple-box__info .pink-angle-box {
      display: none; }
      @media screen and (max-width: 1250px) {
        .purple-box__info .pink-angle-box {
          display: block;
          position: relative; } }
    @media screen and (max-width: 1250px) {
      .purple-box__info .pink-angle {
        position: absolute;
        top: -122px;
        right: -150px; } }
    @media screen and (max-width: 1250px) {
      .purple-box__info .pink-angle-opposite {
        position: absolute;
        top: -122px;
        right: -270px;
        transform: scale(-1, 1); } }
    .purple-box__info__about {
      display: flex;
      position: relative;
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: -0.01em;
      align-self: flex-start;
      margin-left: 4rem;
      margin-top: 6rem;
      z-index: 2;
      letter-spacing: 1px; }
      @media screen and (max-width: 1250px) {
        .purple-box__info__about {
          display: none; } }
      .purple-box__info__about .smallPurpleTriangle {
        align-self: flex-start; }
      .purple-box__info__about__list {
        display: flex;
        list-style: none; }
    .purple-box__info__box2 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-top: 10rem;
      position: relative; }
    .purple-box__info__social-media {
      display: flex;
      margin-right: 10rem; }
      @media screen and (max-width: 1480px) {
        .purple-box__info__social-media {
          margin-right: 23rem; } }
      @media screen and (max-width: 1250px) {
        .purple-box__info__social-media {
          display: none; } }
      .purple-box__info__social-media__icon {
        list-style: none; }
        .purple-box__info__social-media__icon svg {
          cursor: pointer; }
          .purple-box__info__social-media__icon svg:hover path {
            fill: #fbe751; }
    .purple-box__info__title {
      margin-top: 1rem;
      align-self: flex-start;
      position: relative;
      z-index: 1;
      font-family: 'Kontanter', 'sans-serif';
      text-shadow: 1px 1px 0px #00afc6;
      font-size: 4rem;
      line-height: 4.7rem; }
      @media screen and (max-width: 1480px) {
        .purple-box__info__title {
          font-size: 3.8rem; } }
      @media screen and (max-width: 1250px) {
        .purple-box__info__title {
          font-size: 2.8rem;
          width: 166px;
          margin-left: 10rem;
          margin-top: -6rem; } }
    .purple-box__info__text {
      font-family: 'Circe', 'sans-serif';
      font-size: 1.9rem;
      line-height: 2.8rem;
      letter-spacing: -0.01em;
      position: relative;
      z-index: 1;
      margin-top: 3.5rem;
      width: 48rem;
      align-self: flex-start; }
      @media screen and (max-width: 1480px) {
        .purple-box__info__text {
          width: 42rem; } }
      @media screen and (max-width: 1250px) {
        .purple-box__info__text {
          align-self: flex-start;
          padding-left: 75px; } }
      .purple-box__info__text p {
        position: relative;
        z-index: 3; }
      .purple-box__info__text .purpleRectangle {
        position: absolute;
        width: 40.36px;
        height: 242.99px;
        left: 17%;
        top: 55%;
        transform: translate(-55%, -57%);
        z-index: 0; }
        @media screen and (max-width: 1250px) {
          .purple-box__info__text .purpleRectangle {
            display: none; } }
    .purple-box__info__vedushy {
      align-self: flex-end;
      margin-right: 9rem;
      margin-top: 12rem;
      font-family: 'Kontanter', 'sans-serif';
      font-size: 25px;
      line-height: 30px;
      color: #ffffff;
      text-shadow: 1px 1px 0px #00afc6;
      position: relative; }
      @media screen and (max-width: 1480px) {
        .purple-box__info__vedushy {
          margin-top: 6rem;
          margin-right: 40%;
          transform: translateX(-50%); } }
      @media screen and (max-width: 1250px) {
        .purple-box__info__vedushy {
          order: -1;
          margin-right: 30rem;
          align-self: flex-start;
          margin-right: 0px;
          margin-left: 18rem;
          font-size: 5rem;
          font-size: 4.5rem; } }
      .purple-box__info__vedushy__blue-box {
        content: '';
        position: absolute;
        display: block;
        width: 152.6px;
        height: 15.15px;
        top: 1.9rem;
        left: -6px;
        background: #2a6a93;
        z-index: -1;
        opacity: 0; }
        @media screen and (max-width: 1250px) {
          .purple-box__info__vedushy__blue-box {
            background: #e9487e;
            opacity: 1;
            width: 275px;
            left: 0;
            top: 1rem; }
            .purple-box__info__vedushy__blue-box::after {
              content: '';
              position: absolute;
              background: #e9487e;
              width: 15px;
              height: 15px;
              top: -100px;
              right: -110px;
              transform: rotate(45deg); } }
    .purple-box__info__casual {
      display: none; }
      @media screen and (max-width: 1250px) {
        .purple-box__info__casual {
          display: inline;
          position: absolute;
          right: -40px;
          top: 39px;
          z-index: 2;
          width: 77rem; } }

.white-box {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: center;
  left: 0; }
  @media screen and (max-width: 1250px) {
    .white-box {
      position: relative;
      width: 100%;
      height: 110rem; } }
  @media screen and (max-width: 1250px) and (max-width: 760px) {
    .white-box {
      height: 80rem; } }
  @media screen and (max-width: 1250px) and (max-width: 730px) {
    .white-box {
      height: 60rem; } }
  @media screen and (max-width: 1250px) and (max-width: 480px) {
    .white-box {
      height: 40rem; } }
  @media screen and (max-width: 1250px) {
      .white-box::after {
        content: '';
        position: absolute;
        width: 27rem;
        height: 400px;
        background: transparent;
        top: 305px;
        left: 183px;
        z-index: 0;
        border: 16px solid #fbe751; } }
    @media screen and (max-width: 1250px) and (max-width: 1020px) {
      .white-box::after {
        left: 120px; } }
    @media screen and (max-width: 1250px) and (max-width: 970px) {
      .white-box::after {
        width: 23rem;
        left: 103px; } }
    @media screen and (max-width: 1250px) and (max-width: 760px) {
      .white-box::after {
        width: 18rem;
        left: 84px;
        top: 190px;
        height: 140px;
        border: 9px solid #fbe751; } }
    @media screen and (max-width: 1250px) and (max-width: 550px) {
      .white-box::after {
        width: 14rem;
        left: 55px;
        top: 197px; } }
    @media screen and (max-width: 1250px) and (max-width: 480px) {
      .white-box::after {
        width: 15rem;
        left: 63px;
        top: 160px; } }
    @media screen and (max-width: 1250px) and (max-width: 420px) {
      .white-box::after {
        width: 11rem;
        left: 50px;
        top: 163px;
        height: 91px;
        border: 6px solid #fbe751; } }
    @media screen and (max-width: 1250px) and (max-width: 350px) {
      .white-box::after {
        width: 8rem;
        left: 38px;
        top: 163px;
        height: 81px; } }
  .white-box__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 280px; }
    @media screen and (max-width: 1480px) {
      .white-box__info {
        left: 60px; } }
    @media screen and (max-width: 1250px) {
      .white-box__info {
        width: 100%;
        position: static; }
        .white-box__info::before {
          position: absolute;
          bottom: 20px;
          right: 130px;
          border-width: 20px 0 20px 40px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 45px;
          border-color: transparent transparent transparent #fbe751; } }
    @media screen and (max-width: 1250px) and (max-width: 895px) {
      .white-box__info::before {
        border-width: 20px 0 20px 40px;
        bottom: 40px;
        right: 55px; } }
    @media screen and (max-width: 1250px) and (max-width: 770px) {
      .white-box__info::before {
        bottom: 20px; } }
    @media screen and (max-width: 1250px) and (max-width: 730px) {
      .white-box__info::before {
        border-width: 15px 0 15px 30px;
        bottom: 10px; } }
    @media screen and (max-width: 1250px) and (max-width: 480px) {
      .white-box__info::before {
        border-width: 10px 0 10px 20px;
        bottom: 10px;
        right: 30px; } }
    @media screen and (max-width: 1250px) {
        .white-box__info::after {
          content: 'Подробнее';
          bottom: 40px;
          right: 191px;
          position: absolute;
          color: #3b204d;
          font-family: 'Circe';
          font-size: 2.2rem;
          line-height: 9px;
          opacity: 0.5; } }
    @media screen and (max-width: 1250px) and (max-width: 895px) {
      .white-box__info::after {
        font-size: 2rem;
        bottom: 54px;
        right: 112px; } }
    @media screen and (max-width: 1250px) and (max-width: 770px) {
      .white-box__info::after {
        bottom: 35px; } }
    @media screen and (max-width: 1250px) and (max-width: 730px) {
      .white-box__info::after {
        bottom: 20px;
        font-size: 1.5rem;
        right: 10rem; } }
    @media screen and (max-width: 1250px) and (max-width: 480px) {
      .white-box__info::after {
        bottom: 16px;
        font-size: 1rem;
        right: 6rem; } }
    .white-box__info__name {
      align-self: flex-start;
      margin-top: 4rem;
      margin-bottom: 10rem; }
      @media screen and (max-width: 1480px) {
        .white-box__info__name {
          margin-left: 10rem; } }
      @media screen and (max-width: 1250px) {
        .white-box__info__name {
          margin-top: 1rem;
          margin-left: 2rem;
          order: 0;
          margin-bottom: 3rem; } }
      @media screen and (max-width: 760px) {
        .white-box__info__name {
          height: 25%; } }
    .white-box__info__whiteBox {
      position: absolute;
      width: 43.92px;
      height: 50px;
      left: 80%;
      top: 440px;
      background: #ffffff;
      z-index: 1;
      transform: translateX(-46%); }
      @media screen and (max-width: 1480px) {
        .white-box__info__whiteBox {
          height: 125px;
          width: 190px; } }
      @media screen and (max-width: 1250px) {
        .white-box__info__whiteBox {
          display: none; } }
    .white-box__info__title {
      align-self: flex-end;
      position: relative;
      z-index: 1;
      margin-right: 8rem;
      margin-bottom: 3rem;
      font-family: 'Trajan Pro 3-bold', 'sans-serif';
      font-weight: bold;
      font-size: 39px;
      line-height: 47px;
      text-align: right;
      color: #e9487e;
      text-shadow: 1px 1px 0px #00afc6; }
      @media screen and (max-width: 1480px) {
        .white-box__info__title {
          margin-right: 16rem; } }
      @media screen and (max-width: 1250px) {
        .white-box__info__title {
          order: 2;
          margin-top: 2rem;
          font-size: 3rem;
          margin-right: 29rem;
          text-align: left;
          line-height: 1.4; } }
      @media screen and (max-width: 1085px) {
        .white-box__info__title {
          font-size: 2.7rem;
          margin-right: 26rem;
          margin-bottom: 1.5rem; } }
      @media screen and (max-width: 895px) {
        .white-box__info__title {
          margin-right: 15rem; } }
      @media screen and (max-width: 730px) {
        .white-box__info__title {
          font-size: 1.8rem;
          margin-right: 12rem;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem; } }
      @media screen and (max-width: 620px) {
        .white-box__info__title {
          font-size: 1.2rem;
          margin-right: 11rem; } }
      @media screen and (max-width: 480px) {
        .white-box__info__title {
          font-size: 1rem;
          margin-right: 7rem;
          margin-top: 1rem;
          margin-bottom: 1rem; } }
    .white-box__info__text {
      font-family: 'Circe', 'sans-serif';
      position: relative;
      z-index: 2;
      height: 22rem;
      width: 53rem;
      z-index: 1;
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: -0.01em;
      color: #542660; }
      @media screen and (max-width: 1480px) {
        .white-box__info__text {
          margin-left: 8rem; } }
      @media screen and (max-width: 1250px) {
        .white-box__info__text {
          margin-right: 83px;
          order: 3;
          align-self: flex-end;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 445px;
          height: 81px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; } }
      @media screen and (max-width: 1085px) {
        .white-box__info__text {
          font-size: 15px;
          width: 40rem;
          line-height: 1.4;
          height: 10rem;
          -webkit-line-clamp: 5; } }
      @media screen and (max-width: 895px) {
        .white-box__info__text {
          margin-right: 3rem;
          height: 8rem;
          -webkit-line-clamp: 4;
          margin-right: -35px; } }
      @media screen and (max-width: 730px) {
        .white-box__info__text {
          width: 30rem; } }
      @media screen and (max-width: 620px) {
        .white-box__info__text {
          width: 22rem;
          font-size: 12px;
          margin-right: 0; } }
      @media screen and (max-width: 480px) {
        .white-box__info__text {
          width: 14rem;
          font-size: 8px;
          margin-right: 17px;
          height: 4.5rem; } }
      .white-box__info__text span {
        font-weight: bold; }
    @media screen and (max-width: 1480px) {
      .white-box__info #root {
        margin-left: 8.5rem; } }
    @media screen and (max-width: 1250px) {
      .white-box__info #root {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 1100px; } }
    .white-box__info__conferanceyo {
      align-self: flex-start;
      margin-top: 8.7em;
      font-family: 'Trajan Pro 3-bold';
      font-size: 25px;
      line-height: 30px;
      color: #e9487e;
      text-shadow: 1px 1px 0px #00afc6;
      position: relative; }
      @media screen and (max-width: 1480px) {
        .white-box__info__conferanceyo {
          margin-left: 50%;
          transform: translateX(-50%); } }
      @media screen and (max-width: 1250px) {
        .white-box__info__conferanceyo {
          align-self: flex-end;
          margin-top: 31px;
          margin-right: 20rem;
          font-size: 4rem;
          order: 1;
          margin-left: 0;
          transform: none; }
          .white-box__info__conferanceyo::after {
            content: '';
            background: #80d7e3;
            width: 331px;
            height: 5px;
            position: absolute;
            top: 30px;
            left: 20px; } }
    @media screen and (max-width: 1250px) and (max-width: 1080px) {
      .white-box__info__conferanceyo::after {
        width: 29rem; } }
    @media screen and (max-width: 1250px) and (max-width: 730px) {
      .white-box__info__conferanceyo::after {
        width: 21rem; } }
    @media screen and (max-width: 1250px) and (max-width: 620px) {
      .white-box__info__conferanceyo::after {
        width: 17rem; } }
    @media screen and (max-width: 1250px) and (max-width: 480px) {
      .white-box__info__conferanceyo::after {
        width: 13rem;
        height: 3px;
        top: 24px;
        left: 8px; } }
      @media screen and (max-width: 1080px) {
        .white-box__info__conferanceyo {
          font-size: 3.5rem; } }
      @media screen and (max-width: 895px) {
        .white-box__info__conferanceyo {
          margin-right: 8rem; } }
      @media screen and (max-width: 730px) {
        .white-box__info__conferanceyo {
          font-size: 2.6rem;
          margin-right: 5rem; } }
      @media screen and (max-width: 620px) {
        .white-box__info__conferanceyo {
          font-size: 2.1rem; } }
      @media screen and (max-width: 480px) {
        .white-box__info__conferanceyo {
          font-size: 15px;
          margin-right: 3rem; } }
      .white-box__info__conferanceyo__blue-box {
        content: '';
        position: absolute;
        display: block;
        width: 222.6px;
        height: 15.15px;
        top: 1.7rem;
        left: -6px;
        background: #fbe751;
        z-index: -2;
        opacity: 0; }
    .white-box__info__suit {
      display: none; }
      @media screen and (max-width: 1250px) {
        .white-box__info__suit {
          display: inline;
          position: absolute;
          z-index: 1;
          height: 150rem;
          top: 180px;
          left: 70px; } }
      @media screen and (max-width: 1020px) {
        .white-box__info__suit {
          left: 0; } }
      @media screen and (max-width: 970px) {
        .white-box__info__suit {
          display: inline;
          position: absolute;
          z-index: 1;
          height: 130rem;
          top: 180px;
          left: 0px; } }
      @media screen and (max-width: 760px) {
        .white-box__info__suit {
          height: 100rem;
          top: 90px;
          left: 0px; } }
      @media screen and (max-width: 550px) {
        .white-box__info__suit {
          height: 79rem;
          top: 119px;
          left: -7px; } }
      @media screen and (max-width: 480px) {
        .white-box__info__suit {
          height: 81rem;
          top: 79px;
          left: 5px; } }
      @media screen and (max-width: 420px) {
        .white-box__info__suit {
          height: 59rem;
          top: 102px;
          left: 5px; } }
      @media screen and (max-width: 350px) {
        .white-box__info__suit {
          height: 45rem;
          top: 121px;
          left: 5px; } }

@keyframes centerToLeft {
  0% {
    width: 50%; }
  100% {
    width: 72%; } }

@keyframes leftToCenter {
  0% {
    width: 72%; }
  100% {
    width: 50%; } }

@keyframes rightToCenter {
  0% {
    width: 28%; }
  100% {
    width: 50%; } }

@keyframes centerToRight {
  0% {
    width: 50%; }
  100% {
    width: 28%; } }

@keyframes displayBlock {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hideBlock {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.displayBlock {
  animation: displayBlock 1.2s;
  animation-fill-mode: forwards; }

.hideBlock {
  animation: hideBlock 1.2s;
  animation-fill-mode: forwards; }

.centerToLeft {
  animation: centerToLeft 1.2s;
  animation-fill-mode: forwards; }

.leftToCenter {
  animation: leftToCenter 1.2s;
  animation-fill-mode: forwards; }

.rightToCenter {
  animation: rightToCenter 1.2s;
  animation-fill-mode: forwards; }

.centerToRight {
  animation: centerToRight 1.2s;
  animation-fill-mode: forwards; }

@keyframes disappear {
  0% {
    width: 50%; }
  100% {
    width: 0; } }

@keyframes disappearReverse {
  0% {
    width: 0%; }
  100% {
    width: 50; } }

@keyframes appear {
  0% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes appearReverse {
  0% {
    width: 100%; }
  100% {
    width: 50%; } }

.disappear {
  animation: disappear 1.2s both; }

.appear {
  animation: appear 1.2s both; }

.appearReverse {
  animation: appearReverse 1.2s forwards; }

.disappearReverse {
  animation: disappearReverse 1.2s both; }

@font-face {
  font-family: "Circe-bold";
  src: url("/fonts/CIRCE.OTF") format("woff2"); }

@font-face {
  font-family: "Circe";
  src: url("/fonts/CRC35.OTF") format("woff2"); }

@font-face {
  font-family: "Trajan Pro 3";
  src: url("/fonts/TrajanPro3-Regular.otf") format("woff2"); }

@font-face {
  font-family: "Trajan Pro 3-bold";
  src: url("/fonts/TrajanPro3-Bold.otf") format("woff2"); }

@font-face {
  font-family: "Kontanter";
  src: url("/fonts/Kontanter-Bold.otf") format("woff2"); }
